.header {
    background-color: #d6dce3;
    border-bottom: 1px solid black;
    z-index: 999;
    position: sticky;
    top: 0;
    
  }
.logform {
  width: 65%;
  height: fit-content;
  color: black;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  border: 1px solid wheat;
  border-radius: 10px;
  box-shadow: 500px;
  margin-top: 90px;
  
}
.logform:hover{
  background-color: white;
}

.logform img {
  width: 99%;
  height: 353px;
  margin-top: 5px;
  margin-bottom: 5px;
}

body {

  background-color: #d6dce3;
  height: 550px;
}

h4,
h6 {
  color: black;
}
.logform input:hover{
  border: 2px solid black;
  border-color: black;
}
.logform button:hover{
  border: 2px solid black;
  border-color: black;
}