.titles h3{
    margin-top: 18px;
    margin-left: 4px;
    color: slategray;
}
.title{
    background-color: #d6dce3;
    margin-top: 10px;
    box-shadow: 0px 0px 10px black; 
}
h1{
    margin-left: 109px;
    font-family: Central Avenue, Arial, sans-serif;
    font-weight: 700;
        font-size: 40px;
        line-height: 1.5em;
        margin-top: 5px;
        text-transform: uppercase;
}