{% extends 'school_admin/master.html' %}
{% load static %}
{% block title %} Ballotposition {% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/ballot_position.css' %}">
{% endblock %}

{% block content %}
<div class="container title">
    <div class="row">
        <div class="col">
            <h3>Ballot Position</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col bg-light">
            <form action="">

                <ul class="list-group ballot_form">
                    <li class="list-group  position">
                        <div class="row">
                            <div class="col-10 mt-3 mb-3">
                                <h2>chairman</h2>
                            </div>
                            <div class="col-2">
                                <button type="reset" class="btn resets mt-3" data-bs-dismiss="modal"><i
                                    class="fa fa-refresh"></i> reset</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-2">
                                    <input class="form-check-input me-1 radios" type="radio" name="listGroupRadio"
                                        value="" >
                                    <label class="form-check-label" for="firstRadio">
                                        <!-- Button trigger modal -->

                                    </label>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn platform" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path
                                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                        platform
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">hello friends
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    vbnnmnm
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <img src="{% static 'images/men.webp' %}" alt="" class="image">
                                </div>
                                <div class="col-5 name">
                                    <h3>
                                        arun p
                                    </h3>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-2">
                                    <input class="form-check-input me-1 radios" type="radio" name="listGroupRadio"
                                        value="" >
                                    <label class="form-check-label" for="firstRadio">
                                        <!-- Button trigger modal -->

                                    </label>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn platform" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path
                                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                        platform
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">hello friends
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    vbnnmnm
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <img src="{% static 'images/men.webp' %}" alt="" class="image">
                                </div>
                                <div class="col-5 ">
                                    <h3>
                                        arun p
                                    </h3>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-2">
                                    <input class="form-check-input me-1 radios" type="radio" name="listGroupRadio"
                                        value="" >
                                    <label class="form-check-label" for="firstRadio">
                                        <!-- Button trigger modal -->

                                    </label>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn platform" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path
                                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                        platform
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">hello friends
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    vbnnmnm
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <img src="{% static 'images/men.webp' %}" alt="" class="image">
                                </div>
                                <div class="col-5">
                                    <h3>
                                        arun p
                                    </h3>
                                </div>
                            </div>
                        </div>

                    </li>

                    
                </ul>
            </form>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col bg-light">
            <form action="">

                <ul class="list-group ballot_form">
                    <li class="list-group  position">
                        <div class="row">
                            <div class="col-10 mt-3 mb-3">
                                <h2>Vice-chairman</h2>
                            </div>
                            <div class="col-2">
                                <button type="reset" class="btn resets mt-3" data-bs-dismiss="modal"><i
                                    class="fa fa-refresh"></i> reset</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-2">
                                    <input class="form-check-input me-1 radios" type="radio" name="listGroupRadio"
                                        value="" >
                                    <label class="form-check-label" for="firstRadio">
                                        <!-- Button trigger modal -->

                                    </label>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn platform" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path
                                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                        platform
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">hello friends
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    vbnnmnm
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <img src="{% static 'images/men.webp' %}" alt="" class="image">
                                </div>
                                <div class="col-5 name">
                                    <h3>
                                        arun p
                                    </h3>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-2">
                                    <input class="form-check-input me-1 radios" type="radio" name="listGroupRadio"
                                        value="" >
                                    <label class="form-check-label" for="firstRadio">
                                        <!-- Button trigger modal -->

                                    </label>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn platform" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path
                                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                        platform
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">hello friends
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    vbnnmnm
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <img src="{% static 'images/men.webp' %}" alt="" class="image">
                                </div>
                                <div class="col-5 ">
                                    <h3>
                                        arun p
                                    </h3>
                                </div>
                            </div>
                        </div>

                    </li>
                   

                    
                </ul>
            </form>
        </div>
    </div>
</div>

{% endblock %}