{% extends 'school_admin/master.html' %}
{% load static %}
{% block title %} candidates {% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/candidates.css' %}">
<style>
    .data_table {
        width: 970px;
        border-spacing: 10px;
        border: none;
        box-shadow: 0 2px 5px rgba(26, 8, 8, 0.2);
        border: 2px solid white;
    }

    .data_table th,
    .data_table td {
        font-family: 'Times New Roman', Times, serif;
        padding: 10px;
    }

    .data_table td {
        font-size: 18px;
    }

    .data_table th {
        font-size: 18px;
    }

    .table_edit,
    .table_delet {
        border: none;
        color: white;
        background-color: gray;
        border-radius: 0;
        padding: 5px 10px;
    }

    .table_delet {
        background-color: #f44336;
    }

    .next_prev {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

    .next_prev a {
        text-decoration: none;
        color: black;
        background-color: #008CBA;
        border-radius: 2px;
        border: none;
        padding: 5px 10px;
        font-size: 14px;
    }

    .title h3 {
        margin-top: 18px;
        margin-left: 4px;
        color: slategray;
    }

    #logo {
        height: 60px;
        width: 60px;
        float: inline-end;
        opacity: 0.5;
    }

    .list {
        background-color: #d6dce3;
        box-shadow: 0px 0px 10px black;
    }

    .modal_btn {
        background-color: #4CAF50;
        ;
        color: white;
        border: 1px solid black;
        border-radius: 0;
    }

    .modals {
        border-radius: 0px;
        font-family: Central Avenue, Arial, sans-serif;
    }

    .modal_btn:hover {
        border-color: #04AA6D;
        color: green;
    }

    .modals button {
        border-radius: 0px;
    }

    .modal_close {
        border: 1px solid black;
        background-color: #f44336;
        color: white;
    }

    .modal_save {
        border: 1px solid black;
        color: white;
        background-color: #008CBA;
    }

    .search {
        margin-left: 149px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container title">
    <div class="row">
        <div class="col">
            <h3>Candidates List</h3>
        </div>
    </div>
</div>
<div class="container list" >
    <div class="row">
        <div class="col">
            <div class="container ">
                <div class="row mt-3">
                    <div class="col add_button">

                        <button type="button" class="btn  modal_btn btn-square" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <i class="fa fa-plus"></i> Add
                        </button>


                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content modals">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Candidates</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <table id="modal_table" border="0">
                                                <tr>
                                                    <td>
                                                        <label for="">Name &nbsp; &nbsp; </label>
                                                    </td>
                                                    <td>
                                                        <input type="text" value="" size="40" name="name">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td><span id="error_name" class="error"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="">E-mail &nbsp; &nbsp; </label>
                                                    </td>
                                                    <td>
                                                        <input type="email" value="" size="40" name="email" id="email">
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td><span id="error_email" class="error"></span></td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label for="">Election &nbsp; &nbsp; </label>
                                                    </td>
                                                    <td>
                                                        <select class="form-select" style="border-radius: 0px;"
                                                            name="title" id="election-title-select">
                                                            <option selected disabled>Election-Title</option>
                                                            {% for i in titles %}
                                                            <option value="{{ i.id }}">{{ i.title }}</option>
                                                            {% endfor %}

                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td><span id="error_election" class="error"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="">Position</label>
                                                    </td>
                                                    <td>
                                                        <select class="form-select" style="border-radius: 0px;"
                                                            name="position" id="position-select">
                                                            <option selected disabled>select</option>
                                                            <option value="" id="position-select"></option>
                                            
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td><span id="error_position" class="error"></span></td>
                                                </tr>
                                                <tr class="mt-3">

                                                    <td>
                                                        <label for="">Photo &nbsp; &nbsp; </label>
                                                    </td>
                                                    <td>
                                                        <div class="input-group ">
                                                            <input type="file" class="form-control load_image"
                                                                id="inputGroupFile04"
                                                                aria-describedby="inputGroupFileAddon04"
                                                                aria-label="Upload" style="width: 20px;" name="photo">
                                                            <button class="btn btn-outline-success" type="button"
                                                                id="inputGroupFileAddon04">uppload</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td><span id="error_photo" class="error"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="">Platform</label>
                                                    </td>
                                                    <td>
                                                        <textarea id="" cols="30" rows="10" name="platform">

                                                        </textarea>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td><span id="error_platform" class="error"></span></td>
                                                </tr>


                                            </table>
                                            <div class="modal-footer">
                                                <button type="button" class="btn modal_close" data-bs-dismiss="modal"><i
                                                        class="fa fa-close"></i> Close</button>
                                                <button type="submit" class="btn modal_save"><i
                                                        class="fa fa-save"></i>save</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="{% static 'images/candidate.svg' %}" alt="" id="logo" style="margin-left: 269px;">
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6 float-sm-start float-md-start">
                        show entries
                    </div>
                    <div class="col-6">
                        <form class="example search " action="">
                            <input type="text" placeholder="Search.." name="search" id="search-input">
                            <button type="button"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>

            </div>
            <div class="container text-center">

                <div class="row">
                    {{ msgs }}
                    <div class="col-md-12 mt-5">
                        <table class="table-primary data_table" border="1">
                            <tr>


                                <th>Name</th>
                                <th>Photo</th>
                                <th>Position</th>
                                <th>password</th>
                                <th>Election</th>
                                <th>platform</th>
                                <th>E-mail</th>
                                <th>Tools</th>
                            </tr>
                            {% for candidate in candidates %}
                            <tr>
                                <td>{{ candidate.name }}</td>
                                <td><img src="{{ candidate.photo.url }}" alt="" style="height: 50px; width: 50px;"></td>
                                <td>{{ candidate.position.position }}</td>
                                <td>{{ candidate.password }}</td>
                                <td>{{ candidate.title.title }}</td>

                                <td>
                                    <button type="button" class="btn platform" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal2-{{ candidate.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path
                                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                        platform
                                    </button>


                                    <div class="modal fade" id="exampleModal2-{{ candidate.id }}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">hello friends
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ candidate.platform}}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ candidate.email }}</td>
                                <td>
                                    <button type="button" class="btn btn-secondary"
                                    style="box-sizing: border-box; border: 1px solid black;" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal23-{{ candidate.id }}"><i class="fa fa-edit"></i>
                                    
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal23-{{ candidate.id }}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content mbody">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel"
                                                    style="margin-left: 15px;">update candidate</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'school_admin:update_candidate' candidate.id %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <table>

                                                        <tr>
                                                            <td><label for="">Name : </label></td>
                                                            <td><span name="namess">{{ candidate.name }}</span><br></td>
                                                        </tr>
                                                        
                                                        <tr>
                                                            <td>
                                                                <label for="">E-mail : </label>
                                                            </td>
                                                            <td><span>{{ candidate.email }}</span>                                                              
                                                                    </td>
                                                        </tr>
                                                        <tr>
                                                           
                                                            <td><input type="hidden" name="e2"
                                                                    value="{{ candidate.email }}" ></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label for="">Password : </label>
                                                            </td>
                                                            <td><input type="text" name="passwrds"
                                                                    value="{{ candidate.password }}"></td>
                                                        </tr>
                                                    </table>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                    </div>


                                                </form>
                                            </div>
                                           
                                        </div>



                                    </div>
                                </div>
                                    
                                        <a href="{% url 'school_admin:remove_candidate' candidate.id  %}"><button type="button" class="btn table_delet" data-bs-dismiss="modal" style="margin-top: 3px;"><i
                                                class="fa fa-trash"></i></button></a>
                                    
                                </td>

                            </tr>
                            {% endfor %}
                           
                        </table>
                    </div>
                </div>


            </div>
            <div class="container text-center">

                <div class="col-12">
                    <div class="next_prev mb-3">
                        <div>
                            <a href="#">&#8592; Previous</a>
                            <a href="#">Next &rarr;</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="{% static 'js/candidates.js' %}"></script>
<script>
    $(document).ready(function() {
        
        $('#election-title-select').change(function() {
            var selectedTitleId = $(this).val(); // Get the selected title ID

            // Send an AJAX request to fetch the positions for the selected title
            $.ajax({
                url: "{% url 'school_admin:get_positions' %}",  // Replace with the URL for your AJAX endpoint
                method: 'GET',
                data: { title_id: selectedTitleId },
                success: function(response) {
                    // Clear the positions select element
                    $('#position-select').empty();

                    // Append the positions to the positions select element
                    response.positions.forEach(function(position) {
                        $('#position-select').append('<option value="' + position.id + '">' + position.position + '</option>');
                    });
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error('Error:', errorThrown);
                }
            });
        });
    });





    $("#email").keyup(function () {
        $.ajaxSetup({
            headers: {

                "X-CSRFToken": '{{ csrf_token }}'

            }
        })

        $.ajax({

            url: "{% url 'school_admin:check_mail_candidate' %}",
            method: 'POST',
            data: {
                "candidateEmail": $(this).val()

            },
            success: function (response) {
                let exist = response.email_exist
                if (exist == true) {

                    $("#error_email").html('email already exist').css({ "color": "red" })

                }

            }



        })
    })












    $(document).ready(function () {
        // Get the search input element
        const $searchInput = $('#search-input');

        // Event listener for input change
        $searchInput.on('input', function () {
            // Get the search query
            const searchQuery = $searchInput.val();
            if (searchQuery == "") {
                location.reload();
            }

            // Create and send the AJAX request
            $.ajax({
                url: "{% url 'school_admin:search_candidates' %}",
                type: 'GET',
                data: { search: searchQuery },
                dataType: 'json',
                success: function (results) {
                    // Process the results and update the table or perform other actions
                    console.log(results);

                    
                    const $tableBody = $('.data_table tbody');
                    $tableBody.empty();


                    results.forEach(function (candidate) {

                        // url = "http://127.0.0.1:8000/school_admin/remove_candidate/" + candidate.id
                        const $row = $('<tr>');
                        $row.append('<td>' + candidate.name + '</td>');
                        $row.append('<td><img src="' + candidate.photo_url + '" alt="" style="height: 40px;width: 40px;"></td>');
                        $row.append('<td>' + candidate.position + '</td>');
                        $row.append('<td>' + candidate.password + '</td>');
                        $row.append('<td>' + candidate.email + '</td>');
                        $row.append('<td>' +
                           
                            '<span>' +
                            // '<a href="' + url + '"><button type="button" class="btn table_delet" data-bs-dismiss="modal"><i class="fa fa-trash"></i>delete</button></a>' +
                            '</span>' +
                            '</td>');

                        $tableBody.append($row);
                    });
    
                }
    
            });
        });
    });




//     $(document).ready(function () {
//     // Get the search input element
//     const $searchInput = $('#search-input');

//     // Event listener for input change
//     $searchInput.on('input', function () {
//         // Get the search query
//         const searchQuery = $searchInput.val();
//         if (searchQuery == "") {
//             location.reload();
//         }

//         // Create and send the AJAX request
//         $.ajax({
//             url: "{% url 'school_admin:search_candidates' %}",
//             type: 'GET',
//             data: { search: searchQuery }, // Updated parameter name to 'search'
//             dataType: 'json',
//             success: function (results) {
//                 // Process the results and update the table or perform other actions
//                 console.log(results);

//                 // Example: Update the table with search results
//                 const $tableBody = $('.data_table tbody');
//                 $tableBody.empty();

//                 if (results.length > 0) {
//                     results.forEach(function (candidate) {
//                         const url = "http://127.0.0.1:8000/school_admin/remove_candidate/" + candidate.id;
//                         const $row = $('<tr>');
//                         $row.append('<td>' + candidate.name + '</td>');
//                         $row.append('<td><img src="' + candidate.photo_url + '" alt="" style="height: 40px;width: 40px;"></td>');
//                         $row.append('<td>' + candidate.position + '</td>');
//                         $row.append('<td>' + candidate.password + '</td>');
//                         $row.append('<td>' + candidate.email + '</td>');
//                         $row.append('<td>' +
//                             '<span>' +
//                             '<a href="' + url + '"><button type="button" class="btn table_delet" data-bs-dismiss="modal"><i class="fa fa-trash"></i>delete</button></a>' +
//                             '</span>' +
//                             '</td>');

//                         $tableBody.append($row);
//                     });
//                 } else {
//                     const $row = $('<tr>');
//                     $row.append('<td colspan="6">No results found</td>');
//                     $tableBody.append($row);
//                 }
//             }
//         });
//     });
// });




</script>
{% endblock %}