{% extends 'school_admin/master.html' %}
{% load static %}
{% block title %} title {% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/title.css' %}">
<style>
     .data_table {
    width: 900px;
    border-spacing: 10px;
    border: none; 
    box-shadow: 0 2px 5px rgba(26, 8, 8, 0.2); 
  }
  
  .data_table th,
  .data_table td {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px; 
  }
  .data_table td {
    font-size: 18px;
  }
  .data_table th{
    font-size: 18px;
  }
  
  .table_edit,
  .table_delet {
    border: none; 
    color: white;
    background-color: gray;
    border-radius: 0;
    padding: 5px 10px; 
  }
  
  .table_delet {
    background-color: #f44336;
  }
</style>
{% endblock %}
{% block content %}
<div class="container titles">
    <div class="row">
        <div class="col">
            <h3>Election-title</h3>
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
    add election
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form action="" method="POST">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Election</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {% csrf_token %}
                    <table id="modal_table" border="0">
                        <tr>
                            <td>
                                <label for="">Election name &nbsp; &nbsp; </label>
                            </td>
                            <td>
                                <input type="text" value="" size="40" name="name">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Starting Date &nbsp; &nbsp; </label>
                            </td>
                            <td>
                                <input type="date" value="" size="40" name="date">
                            </td>
                        </tr>

                    </table>
                    {{ msg }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container title">
    <div class="row">
        <div class="col">
            
            <table class="table-primary data_table" border="1">
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Tools</th>

                </tr>
                {% for i in titles %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.title }}</td>
                    <td>{{ i.date }}</td>
                    


                    <td>
                        
                        <span>
                            <a href=""><button type="button" class="btn table_delet" data-bs-dismiss="modal"><i
                                        class="fa fa-trash"></i> delet</button></a>
                        
                    </td>

                </tr>
                {% endfor %}
                

            </table>


        </div>
    </div>
</div>
{% endblock %}