{% extends 'school_admin/master.html' %}
{% load static %}
{% block title %} votes {% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/votes.css' %}">
<style>
    .data_table {
        width: 900px;
        border-spacing: 10px;
        border: none;
        box-shadow: 0 2px 5px rgba(26, 8, 8, 0.2);
    }

    .data_table th,
    .data_table td {
        font-family: 'Times New Roman', Times, serif;
        padding: 10px;
    }

    .data_table td {
        font-size: 18px;
    }

    .data_table th {
        font-size: 18px;
    }

    .table_edit,
    .table_delet {
        border: none;
        color: white;
        background-color: gray;
        border-radius: 0;
        padding: 5px 10px;
    }

    .table_delet {
        background-color: #f44336;
    }

    .next_prev {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        color: white;
    }

    .next_prev a {
        text-decoration: none;
        color: white;
        background-color: gray;
        border-radius: 2px;
        border: none;
        padding: 5px 10px;
        font-size: 14px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .pagination-link {
        text-decoration: none;
        color: gray;
        margin-right: 5px;

        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(26, 8, 8, 0.2);
        box-sizing: border-box;
    }

    .current_page {
        color: black;
        background-color: white;
        box-shadow: 0 2px 5px rgba(26, 8, 8, 0.2);
        box-sizing: border-box;
        border-radius: 0;
    }
</style>
{% endblock %}
{% block content %}
<div class="container title">
    <div class="row">
        <div class="col">
            <h3>Votes</h3>
        </div>
    </div>
</div>
<div class="container list">
    <div class="row">
        <div class="col">
            <div class="container text-center">

                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn reset_btn mt-3" data-bs-dismiss="modal" style="
                            background-color: #4CAF50;;
                            color: white;
                            box-shadow: 0px 0px 10px black;
                                box-sizing: border-box;
                                border: none;
                            
                        
                        " onclick="reset()"><i class="fa fa-refresh"></i> reset</button>
                    </div>

                </div>
            </div>
            <div class="container ">
                <div class="row mt-3">
                    <div class="col ms-1">
                        
                    </div>
                    <div class="col-6">
                        <form class="example search" action="" id="search-form">
                            <input type="text" placeholder="Search.." name="search" id="search-input">
                            <button type="button"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>

            </div>
            <div class="container">
                <input type="text" name="" value="{{ id.id }}" id="title_id" hidden>
                <div class="row">
                    <div class="col-md-12  mt-3 ms-3">
                        <table class="table-primary data_table">
                            <tr>
                                <th>position</th>
                                <th>candidate</th>
                                <th>voter</th>

                            </tr>
                            {% for vote in page_obj %}

                            <tr>
                                <td>{{ vote.position.position }}</td>
                                <td>{{ vote.candidate.name }}</td>
                                <td>{{ vote.voter.f_name }}</td>
                            </tr>
                            {% endfor %}

                        </table>

                    </div>
                </div>
            </div>
          
            <div class="container">
                <div class="row mb-3">
                    <div class="col-6 mt-3" style="font-size: medium;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                        Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} entries
                    </div>
                    <div class="col-6">
                        <div class="next_prev">
                            {% if page_obj.has_previous %}
                            <a class="pagination-link" href="?page=1">&#171; First</a>
                            <a class="pagination-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                            <span class="current_page pagination-link">{{ num }}</span>
                            {% else %}
                            <a class="pagination-link" href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <a class="pagination-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            <a class="pagination-link" href="?page={{ page_obj.paginator.num_pages }}">Last &#187;</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function reset(){
        location.reload();
    }

    $(document).ready(function () {
        $('#search-input').on('input', function () {
            var searchInput = $(this).val();
            const titleId = $('#title_id').val();
            if (searchInput == "") {
                location.reload();
            }
            

            console.log("Search query:", searchInput);
            


            $.ajax({
                type: 'GET',
                url: "{% url 'school_admin:search_votes'  %}?id = " + titleId,
                data: {
                    search: searchInput,
                    id: titleId
                },
                success: function (data) {
                    console.log("Search results:", data);

                    $('.data_table tr:not(:first-child)').remove();

                    if (data.length === 0) {
                        var noResultsRow = '<tr>' +
                            '<td colspan="3">No results found</td>' +
                            '</tr>';

                        $('.data_table').append(noResultsRow);
                    } else {
                        $.each(data, function (index, result) {
                            var row = '<tr>' +
                                '<td>' + result.position + '</td>' +
                                '<td>' + result.candidate + '</td>' +
                                '<td>' + result.voter + '</td>' +
                                '</tr>';

                            $('.data_table').append(row);
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.log("AJAX error:", error);
                }
            });
        });
    });



 
</script>

{% endblock %}