{% extends 'voter/master.html' %}
{% load static %}
{% block title %}view vote{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/view_vote.css' %}">
{% endblock %}

{% block content %}

{% endblock %}
 <!-- <div class="col-3  listposition ">
            <div class="list-group rounded mb-5 mt-3 ms-3 list border-dark-subtle">
                <button type="button"
                    class="list-group-item list-group-item-action text-dark-emphasi text-center fs-5 bg-light fw-bolder"
                    disabled>
                    <img src="{% static 'images/positionlogo.png' %}" alt="" style="height: 30px; width: 30px;">
                    choose positions
                </button>
                <button type="button"
                    class="list-group-item list-group-item-action text-dark-emphasi bg-light fw-semibold"
                    aria-current="true">
                    chairman
                </button>
                <button type="button"
                    class="list-group-item list-group-item-action text-dark-emphasi bg-light fw-semibold">secratory</button>
                <button type="button"
                    class="list-group-item list-group-item-action text-dark-emphasi bg-light fw-semibold">vice
                    chairman</button>
                <button type="button"
                    class="list-group-item list-group-item-action text-dark-emphasis bg-light fw-semibold ">join
                    secratory</button>

            </div>
        </div> -->