{% extends 'common/master.html' %}
{% load static %}
{% block title %} about {% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<style>
 
</style>
{% endblock %}
{% block content %}
<div style="background-color: white; height: 250px;">
    <p style="font-size: 70px; padding-top: 105px; padding-left: 30px; color: #34495e; font-weight: 600;">
        What is an online voting system?</p>
</div>

    <div style="background-color: white; height: 600px;">
        <div class="card text-center cards" style="background-color: #34495e;width: 50rem;">
            <div class="card-body">
                <h2 style="font-weight: 800;">what is an online voting system ? </h2>

                <p>an online voting system is a software platform that allows groups to securely <br/>conduct votes and
                    elections.high-quality online voting system balanced ballot security,accessibility,and the overall
                    requirments of an oraganizations voting event.</p>



            </div>
        </div>
    
        <p style="margin-top: 40px; padding-left: 30px; color: #34495e;">





            An online voting system is a software platform that allows groups to securely conduct votes and elections.
            High-quality online voting systems balance ballot security, accessibility, and the overall requirements of
            an organization's voting event.





            At their core, online voting systems protect the integrity of your vote by preventing voters from being able
            to vote multiple times. As a digital platform, they eliminate the need to gather in-person, cast votes using
            paper, or by any other means (e.g. email, insecure survey software).

            You may hear an online voting system being referred to as an online election system, an online e voting
            system, or electronic voting. These all make reference to the same thing: a secure voting tool that allows
            your group to collect input from your group and closely scrutinize the results in real time.

            Keep reading for access to the most comprehensive online voting system introduction you will find.
        </p>
    </div>

{% endblock %}