{% extends 'common/master.html' %}
{% load static %}
{% block title %} voterlogin {% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/voter_login.css' %}">

<style>
  
</style>
{% endblock %}
{% block content %}
<div class="sec">
  <div class="container logform text-dark shadow">
    <div class="row">
      <div class="col-md-6 sm-12"><img src="{% static 'images/giphy.gif' %}" alt="" class="rounded"></div>
      <div class="col-md-6 sm-12">
        <form>
          <div class="form-group mt-5">
            <label for="exampleInputEmail1">
              <h4>User id</h4>
            </label>
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="User id" required>
            <!-- <small id="emailHelp" class="form-text text-dark">We'll never share your email with anyone else.</small> -->
          </div>
          <br />
          <div class="form-group">
            <label for="exampleInputPassword1">
              <h4>password</h4>
            </label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
          </div>
          <br />
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">
              <h6>Check me out</h6>
            </label>
          </div>
          <br />
          <a href="{% url 'voter:vote' %}">
            <button type="submit" class="btn btn-success">login</button></a>
          <br />
          <div class="d-grid gap-2">
            <h5 class="ps-3 fw-semibold">want login as a canidate ?
            <a href="{% url 'common:candidate_login' %}"><button class="btn btn-info ms-3 mx-3 mb-3 fw-semibold" type="button" >click here
            </button></h5></a>
          </div>
        

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}