{% extends 'candidate/master_pages.html' %}
{% load static %}
{% block title %} home {% endblock %}

{% block header %}
<style>
    /* Card Styles */
    .card {
        width: 300px;
        height: 400px;
        background-color: #d6dce3;

        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-left: 450px;
        margin-top: 20px;
        box-sizing: border-box;
    }

    .card:hover {
        transform: scale(1.02);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    h1 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333333;
    }

    p {
        font-size: 16px;
        color: #666666;
    }

    button {
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    button:hover {
        background-color: #45a049;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    button:active {
        background-color: #3e874d;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <h1>Welcome</h1>
                <p>Dear Murshid,</p>
                <p>Thank you for joining as a<br><b style="margin-left: 35px;">candidate!</b></p>
                <a href="{% url 'candidate:profile' %}"><button>Visit Your Candidate Profile</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}